<html>
  <head>
    <link rel="stylesheet" href="assets/main.css" media="screen" type="text/css">
  </head>
  <body>
    <p class="message">
      <%= message %>
      <!-- The SECRET NUMBER is <%= number %> -->
      <!-- The message is <%= message %> -->
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>